<script setup lang="ts">
import { HAND_SIZE } from "@/config/constants";
import { useCardStore } from "@/stores/CardStore";
import CardHand from "../components/CardHand.vue";

const cardStore = useCardStore();
</script>

<template>
  <div class="table-view">
    <div class="hand-type-wrapper">
      <span class="hand-type-text">{{ cardStore.handCategory }}</span>
    </div>
    <CardHand :items="cardStore.hand" />
    <div class="button-wrapper">
      <button class="button filled" @click="cardStore.dealHand(HAND_SIZE)">
        Deal new hand
      </button>
    </div>
  </div>
</template>

<style scoped lang="scss">
.table-view {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 32px;
  padding-top: 32px;
}

.hand-type-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.hand-type-text {
  font-size: 32px;
  font-weight: 500;
}

.button-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 32px;
}

.button {
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 400;
  height: 40px;
  padding: 0 16px;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
  transition-property: color background-color border-color opacity;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-color: var(--border-color);

  &.filled {
    border-radius: 4px;
    --text-color: white;
    --text-hover: white;
    --text-active: white;
    --bg-color: var(--primary600);
    --bg-hover: var(--primary500);
    --bg-active: var(--primary400);
  }
  &:hover,
  &:focus {
    --bg-color: var(--bg-hover);
  }
  &:active {
    --bg-color: var(--bg-active);
  }
}
</style>
