<script setup lang="ts">
import type { Card } from "@/types/Card";
import CardItem from "./CardItem.vue";

defineProps({
  items: {
    type: Array as () => Card[],
  },
});
</script>

<template>
  <div class="card-hand">
    <CardItem v-for="item in items" :item="item" />
  </div>
</template>

<style scoped lang="scss">
.card-hand {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  column-gap: 16px;
}
</style>
