<script setup lang="ts">
import type { Card } from "@/types/Card";
import { mapRankToString } from "@/utils/mapRankToString";
import { computed } from "vue";

const props = defineProps({
  item: {
    type: Object as () => Card,
    required: true,
  },
});

const color = computed(() => {
  if (props.item.suit === "h" || props.item.suit === "r") {
    return "rgb(170, 0, 0)";
  } else {
    return "black";
  }
});
</script>

<template>
  <div class="card-item">
    <span :style="{ color }">{{
      `${item.suit}${mapRankToString(item.rank)}`
    }}</span>
  </div>
</template>

<style scoped lang="scss">
.card-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 40px;
  border-radius: 4px;
  padding: 6px 8px;
  background-color: white;
  box-shadow: 1px 1px 2px 1px rgba($color: #000000, $alpha: 0.5);
  span {
    font-size: var(--font-size-md);
  }
}
</style>
