<script setup lang="ts">
import { HAND_SIZE } from "./config/constants";
import { useCardStore } from "./stores/CardStore";
import TableView from "./views/TableView.vue";

const cardStore = useCardStore();

cardStore.resetDeck();
cardStore.dealHand(HAND_SIZE);
</script>

<template>
  <main>
    <TableView />
  </main>
</template>

<style scoped></style>
