@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

* {
  font-family: "Inter", sans-serif;
}

:root {
  --font-size-sm: clamp(0.8rem, -0.05vw + 0.81rem, 0.75rem);
  --font-size-base: clamp(1rem, 0vw + 1rem, 1rem);
  --font-size-md: clamp(1.25rem, 0.09vw + 1.23rem, 1.33rem);
  --font-size-lg: clamp(1.56rem, 0.23vw + 1.51rem, 1.78rem);
  --font-size-xl: clamp(1.95rem, 0.44vw + 1.84rem, 2.37rem);
  --font-size-xxl: clamp(2.44rem, 0.75vw + 2.25rem, 3.16rem);
  --font-size-xxxl: clamp(3.05rem, 1.22vw + 2.75rem, 4.21rem);
}

p,
span {
  font-size: var(--font-size-base);
}

h2 {
  font-size: var(--font-size-xxxl);
  font-weight: 500;
}

h3 {
  font-size: var(--font-size-xxl);
  font-weight: 500;
}

h4 {
  font-size: var(--font-size-xl);
  font-weight: 500;
}

h5 {
  font-size: var(--font-size-lg);
  font-weight: 500;
}

h6 {
  font-size: var(--font-size-md);
  font-weight: 500;
}
